
.TodoItem-p{
    margin : 0;
    font-size: 16px;
} 

.TodoItem-p--complete{
    text-decoration-line: line-through;

    color: green;
} 

.Icon-check {
    margin: 0;
    font-size: 20px;
}

.Icon-check:hover{
    color: greenyellow;
    transform: scale(120%);
}

.Icon-check--active {
    font-weight: bold;
    color: green;
}

.Icon-delete {
    font-weight: bold;  
    font-size: 20px;
}

.Icon-delete:hover {
    color: red;
    transform: scale(120%);
}


